<!-- <fieldset class="tableField">
		<legend class="greeting-line"><h2>Task table</h2></legend> -->
<h1>Task table</h1>
<input type="text" id="myInput" onkeyup="FilterTable()" placeholder="Filter for status..">
<a name="download"></a>
<table width="100%" id="myTable">
<thead>
  <tr class="header">
    <th class="nr" onclick="sortTable(0)">Task</th>
    <th onclick="sortTable(1)">Deadline</th>
    <th>Status </th>
    <th>File</th>
    <th>Options</th>
  </tr>
</thead>
<tbody>
  
</tbody>
</table>
<!-- </fieldset> -->