@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
body {
  font-family: Open Sans, San-Serif;
  font-size: 16px;
  color: #595959;
  margin: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 15px;
}

th {
  font-weight: 700;
  text-align: left;
  border-bottom: solid 1px #cccccc;
  padding: 5px 0;
}

td {
  vertical-align: middle;
  height: 34px;
  padding: 10px;
  border-bottom: solid 1px #f1f1f1;
}

.background {
  font-weight: 700;
  vertical-align: middle;
  position: relative;
  color: #ffffff;
}
.background a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}
.background__pass {
  background-color: #78b943 !important;
}
.background__fail {
  background-color: #c3002f !important;
}
.background__reviewed {
  background-color: #e28648 !important;
}
.background__running {
  padding: 0;
  /* Progress Bar */
}
.background__running .progress {
  position: relative;
  height: 100%;
  display: block;
  width: 100%;
  background-color: #06acc0;
  overflow: hidden;
}
.background__running .progress .indeterminate {
  background-color: #0596a7;
}
.background__running .progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 3.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.background__running a {
  display: block;
  position: absolute;
  height: 34px;
  top: 11px;
  width: 100%;
  left: 10px;
}

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #064f55;
  color: #064f55;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
button::before, button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #b4a8f7;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #b4a8f7;
  border-right-color: #b4a8f7;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #b4a8f7;
  border-left-color: #b4a8f7;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
svg {
  width: 100%;
  height: auto;
  fill: none;
  stroke: #000000;
  stroke-width: 8;
}
svg tspan > tspan {
  stroke-dasharray: 1500;
  stroke-dashoffset: -1500;
}
svg tspan > tspan:nth-of-type(1) {
  animation: draw 300ms 150ms forwards;
}
svg tspan > tspan:nth-of-type(2) {
  animation: draw 300ms 300ms forwards;
}
svg tspan > tspan:nth-of-type(3) {
  animation: draw 300ms 450ms forwards;
}
svg tspan > tspan:nth-of-type(4) {
  animation: draw 300ms 600ms forwards;
}
svg tspan > tspan:nth-of-type(5) {
  animation: draw 300ms 750ms forwards;
}
svg tspan > tspan:nth-of-type(6) {
  animation: draw 300ms 900ms forwards;
}
svg tspan > tspan:nth-of-type(7) {
  animation: draw 300ms 1050ms forwards;
}
svg tspan > tspan:nth-of-type(8) {
  animation: draw 300ms 1200ms forwards;
}
svg tspan > tspan:nth-of-type(9) {
  animation: draw 300ms 1350ms forwards;
}
svg tspan > tspan:nth-of-type(10) {
  animation: draw 300ms 1500ms forwards;
}
svg tspan > tspan:nth-of-type(11) {
  animation: draw 300ms 1650ms forwards;
}
svg tspan > tspan:nth-of-type(12) {
  animation: draw 300ms 1800ms forwards;
}
svg tspan > tspan:nth-of-type(13) {
  animation: draw 300ms 1950ms forwards;
}
svg tspan > tspan:nth-of-type(14) {
  animation: draw 300ms 2100ms forwards;
}
svg tspan > tspan:nth-of-type(15) {
  animation: draw 300ms 2250ms forwards;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

/*# sourceMappingURL=table.css.map */
